<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova encomenda foi cadastrada, confira os detalhes abaixo:</p>
<p>
  <strong>Produto a ser entregue: </strong> {{ product }} <br />
  <strong>Destinatátio: </strong> {{ recipient }} <br />
  <strong>Endereço: </strong> {{ address }} <br />
  <br />
  <small>
    Encomenda está aguardando sua retirada.
  </small>
  <br />
  <small>
    Retiradas só podem ser feitas entre as 08:00 e 18:00.
  </small>
</p>
